* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.searchField {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 5px;
}